################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
[Oo]bj
[Bb]in
*.opendb
*.db
